/*body {
        background-color:#6E3667;

}

a {
    color: #88D317;


}

h1, h2, h3, h4, h5, th, p, tr, div
{
    color: white;

}

.btn-primary
{
    background-color:#535353;

}
*/

a.btn-primary a.btn-secondary a[role="button"]{

    color: white !important;
}
